node_modules


dist
build


.env
.env.local
.env.development.local
.env.test.local
.env.production.local


*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


.cache
.parcel-cache
.npm
.eslintcache

.DS_Store
Thumbs.db


.git
.gitignore


Dockerfile*
docker-compose*
.dockerignore


tests/
__tests__/
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx


README.md
*.md